.pswp__bottom{
	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap;
	height: 154px;
	position:absolute;
	bottom : 10px;
}
.pswp__thumbnail_list {
	text-align : center;
	border-top: 2px black  solid;	
}
.pswp__thumbnail_list li img{
	width : 128px;
	height : 128px;
	cursor:pointer;
}
.pswp__thumbnail_list li{
	list-style: none;
	display: inline-block;
	margin: 4px !important;

}

.pswp__thumbnail_list li img {
    	border: 3px solid #000;
}
.pswp__thumbnail_list li img:hover {
    	border: 3px solid #fff;
}

.pswp__thumbnail_select{
    	outline: 2px solid #fff !important;    	
  	border: 4px solid #000 !important;
}
.sld__caption_image{
    	position:absolute;
    	left:10%;
    	top:5px; 
    	width:80%; 
    	text-align: center;
    	color:white;
}
